* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.icons {
    height: 32px;
}

.pointer {
    cursor: pointer;
}

main {
    min-height: calc(100vh - 49.99px);
    background-color: rgb(39,39,39);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    width: 25rem;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-answer:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.quiz-bg-image {
    height: 224px;
    object-fit: contain;
}